<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="My TestSuite" parallel="classes" data-provider-thread-count="5">
    <test name="JupiterToys">
        <classes>
            <class name="testRunner.TestRunner"> </class>
            <class name ="testRunner.TestRun"> </class>
      </classes>
    </test>
</suite>